@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif;
}
html {
  font-size: 62.5%;
}
/* skin coloring */
:root {
  --pale_blue: hsl(225, 100%, 94%);
  --bright_blue: hsl(245, 75%, 52%);
  --very_pale_blue: hsl(225, 100%, 98%);
  --desaturated_blue: hsl(224, 23%, 55%);
  --dark_blue: hsl(223, 47%, 23%);
}
/* /////////// */
body {
  font-size: 1.6rem;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: url(./images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-color: var(--pale_blue);
}
.main_container {
  width: 40rem;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}
.image img {
  width: 100%;
  height: auto;
}
h1 {
  color: var(--dark_blue);
  font-size: 2.8rem;
  margin: 3rem 0 2rem 0;
}
.order_para {
  color: var(--desaturated_blue);
  max-width: 30ch;
  text-align: center;
  margin-bottom: 1rem;
}
.subsciption {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--very_pale_blue);
  border-radius: 10px;
  padding: 2rem 1rem;
  width: 100%;
}
.subscription_changement {
  display: flex;
}
.plan {
  display: flex;
  flex-direction: column;
  margin-left: 1.5rem;
}
.plan_type {
  color: var(--dark_blue);
  font-weight: 700;
}
.plan_price {
  color: var(--desaturated_blue);
}
.change_package a {
  float: right;
  color: var(--bright_blue);
}

.btn {
  width: 100%;
  margin: 2rem 0;
}
.btn button {
  border: none;
  border-radius: 10px;
  background-color: var(--bright_blue);
  color: white;
  font-weight: 900;
  padding: 1.4rem 5rem;
  width: 100%;
}
.cancel_btn {
  margin-bottom: 4.5rem;
}
.cancel_btn a {
  text-decoration: none;
  color: var(--desaturated_blue);
  font-weight: 700;
}
